@using QuanLyKhoHang.UI.Models;
@{

    UserInfo nd_dv = (UserInfo)Session["NguoiDung"];
    QuanLyKhoHang.MODEL.QuanLyKhoHangEntities db = new QuanLyKhoHang.MODEL.QuanLyKhoHangEntities();


}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.Action("MainPage", "Dashboard", new { area = "QuanTri" })" class="site_title"><i class="fa fa-home"></i> <span>QUẢN TRỊ</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="@(!string.IsNullOrEmpty(nd_dv.User.Avatar) ? nd_dv.User.Avatar.Replace("~/", "/") : "/Files/images/system/user_empty.jpg")" alt="@nd_dv.User.UserFullName" class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Xin chào,</span>
                <h2>@nd_dv.User.UserFullName</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li class="mn-dashboard"><a href="@Url.Action("MainPage", "Dashboard", new { area = "QuanTri" })"><i class="fa fa-building-o"></i> Dashboard </a></li>
                    @if (nd_dv.User.UserType == EnumUserType.ADMIN || nd_dv.User.UserType == EnumUserType.SUB_ADMIN)
                    {
                        <li class="mn-users"><a href="@Url.Action("MainPage","Users", new { area="QuanTri"})"><i class="fa fa-users"></i> Người dùng</a></li>
                        <li class="mn-provider"><a href="@Url.Action("MainPage","Providers", new { area="QuanTri"})"><i class="fa fa-line-chart"></i> Nhà cung cấp</a></li>
                        <li class="mn-category"><a href="@Url.Action("MainPage","Categories", new { area="QuanTri"})"><i class="fa fa-level-up"></i> Danh mục sản phẩm</a></li>
                        <li class="mn-product"><a href="@Url.Action("MainPage","Products", new { area="QuanTri"})"><i class="fa fa-usd"></i>Sản phẩm</a></li>
                        <li class="mn-order"><a href="@Url.Action("MainPage","Orders", new { area="QuanTri"})"><i class="fa fa-refresh"></i>Hóa đơn</a></li>
                        <li class="mn-inventory"><a href="@Url.Action("MainPage","Inventorys", new { area="QuanTri"})"><i class="fa fa-history"></i> Kiểm kê hàng hóa </a></li>
                        <li class="mn-homepage mn-services mn-banks mn-bank-branch mn-notifications mn-config">
                            <a><i class="fa fa-cogs"></i> Báo cáo thống kê<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="mn-product-transaction"><a href="@Url.Action("ProductTransaction","Reports", new { area="QuanTri"})">Giao dịch sản phẩm</a></li>
                                <li class="mn-product-remain"><a href="@Url.Action("ProductRemain","Reports", new { area="QuanTri"})">Sản phẩm trong kho </a></li>
                                <li class="mn-product-expired"><a href="@Url.Action("ProductExpired","Reports", new { area="QuanTri"})">Sản phẩm hết hạn </a></li>
                                <li class="mn-product-not-have"><a href="@Url.Action("ProductNotHave","Reports", new { area="QuanTri"})"> Sản phẩm hết hàng</a></li>
                                <li class="mn-product-about-expired"><a href="@Url.Action("ProductAboutExpired","Reports", new { area="QuanTri"})">Sản phẩm sắp hết hạn</a></li>
                                <li class="mn-product-about-not-have"><a href="@Url.Action("ProductAboutNotHave","Reports", new { area="QuanTri"})">Sản phẩm sắp hết hàng</a></li>
                            </ul>
                        </li>
                    }
                    else if (nd_dv.User.UserType == EnumUserType.MEMBER)
                    {
                        <li class="mn-homepage mn-services mn-banks mn-bank-branch mn-notifications mn-config">
                            <a><i class="fa fa-cogs"></i> Báo cáo thống kê<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="mn-product-transaction"><a href="@Url.Action("ProductTransaction","Reports", new { area="QuanTri"})">Giao dịch sản phẩm</a></li>
                                <li class="mn-product-remain"><a href="@Url.Action("ProductRemain","Reports", new { area="QuanTri"})">Sản phẩm trong kho </a></li>
                                <li class="mn-product-expired"><a href="@Url.Action("ProductExpired","Reports", new { area="QuanTri"})">Sản phẩm hết hạn </a></li>
                                <li class="mn-product-not-have"><a href="@Url.Action("ProductNotHave","Reports", new { area="QuanTri"})"> Sản phẩm hết hàng</a></li>
                                <li class="mn-product-about-expired"><a href="@Url.Action("ProductAboutExpired","Reports", new { area="QuanTri"})">Sản phẩm sắp hết hạn</a></li>
                                <li class="mn-product-about-not-have"><a href="@Url.Action("ProductAboutNotHave","Reports", new { area="QuanTri"})">Sản phẩm sắp hết hàng</a></li>
                            </ul>
                        </li>
                    }
                    else if (nd_dv.User.UserType == EnumUserType.ACCOUNTANT)
                    {
                        <li class="mn-order"><a href="@Url.Action("MainPage","Orders", new { area="QuanTri"})"><i class="fa fa-refresh"></i>Hóa đơn</a></li>
                    }
                    else if (nd_dv.User.UserType == EnumUserType.INVENTORY)
                    {
                        <li class="mn-inventory"><a href="@Url.Action("MainPage","Inventorys", new { area="QuanTri"})"><i class="fa fa-history"></i> Kiểm kê hàng hóa </a></li>                      
                    }

                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @*<img src="@(!string.IsNullOrEmpty(nd_dv.User.Avatar) ? nd_dv.User.Avatar.Replace("~/","/") : "/Files/images/system/user_empty.jpg")" alt="@nd_dv.User.FullName">*@@nd_dv.User.UserFullName
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="@Url.Action("Info","Users", new { area = "QuanTri", id= nd_dv.User.UserId})"> Thông tin cá nhân</a></li>
                        <li>
                            <a class="" style="cursor:pointer;padding-right:10px;" onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Change_Password","Account",new { area="" })', function (e) { $('#modal-qltaikhoan').modal('show'); });"> Đổi mật khẩu</a>
                        </li>

                        <li>
                            <a class="" style="cursor:pointer;padding-right:10px;" onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Config","Home",new { area="" })', function (e) { $('#modal-qltaikhoan').modal('show'); });">Cấu hình</a>
                        </li>

                        <li><a href="@Url.Action("Logout","Account", new { area = ""})"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
                    </ul>
                </li>
                @*<li role="presentation" class="nav-item dropdown">
                        <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-green">0</span>
                        </a>
                        <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-138px, 17px, 0px);">
                            <li class="nav-item">
                                <a class="dropdown-item">
                                    <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                                    <span>
                                        <span>John Smith</span>
                                        <span class="time">3 mins ago</span>
                                    </span>
                                    <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>*@
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
