@using QuanLyKhoHang.UI.Models
@model IEnumerable<CompareProduct>
@{
    int stt = 0;
    int Id = (int)ViewBag.Id;
}
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr id="@item.Order.OrderCode">
            <td class="text-center">@(++stt)</td>
            <td class="text-center">
                <span class="">@item.Product.ProductCode</span>
            </td>
            <td class="text-center">
                <span class="">@item.Product.ProductName</span>
            </td>
            <td class="text-center">
                <span class="">@(item.Order.OrderCode)</span>
            </td>
            <td class="text-center">
                <span class="">@(item.Order.OrderDate.Value.ToString("dd/MM/yyyy"))</span>
            </td>
            <td class="text-center">
                <span class="">@(item.OrderDetails.DetailExpiredDate.Value.ToString("dd/MM/yyyy"))</span>
            </td>
            <td class="text-center">
                <span class="">@(item.OrderDetails.DetailsUnits)</span>
            </td>
            <td class="text-center">
                <span class="">@(item.OrderDetails.DetailPrice)</span>
            </td>
            <td class="text-center">
                <span class="red">@(Id ==0 ? item.OrderDetails.DetailNumber : item.Total)</span>
            </td>
            <td class="text-center">
                <input name="totalProduct" id="totalProduct_@stt" class="form-control" value="@item.TotalNow" />
            </td>
            <td class="text-center">
                <span class="red">@item.TotalRemain</span>
            </td>
            <td class="text-center">
                <input name="remainProduct" id="remainProduct_@stt" onkeypress="return validateNumber(event)" class="form-control" value="@item.TotalRemainNow" />
            </td>
            <td class="text-center" width="200">
                <div>
                    @*<a class="" onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("ChangeStatus", "Inventorys", new { area = "QuanTri",index = stt})', function (e) { $('#modal-qltaikhoan').modal('show'); });"><span id="status_@stt" class="">Không xác định</span></a>*@
                    <select class="ctr-select" data-live-search="true" id="status_@stt" name="status">
                        
                        <option value="">Trạng thái</option>
                        <option value="@EnumInvetoryStatus.SU_DUNG_DUOC" @((item.InventoryDetails != null && item.InventoryDetails.StatusID == EnumInvetoryStatus.SU_DUNG_DUOC)?"selected":"")>@EnumInvetoryStatus.ToString(EnumInvetoryStatus.SU_DUNG_DUOC)</option>
                        <option value="@EnumInvetoryStatus.KHONG_SU_DUNG" @((item.InventoryDetails != null && item.InventoryDetails.StatusID == EnumInvetoryStatus.KHONG_SU_DUNG) ?"selected":"")>@EnumInvetoryStatus.ToString(EnumInvetoryStatus.KHONG_SU_DUNG)</option>
                        <option value="@EnumInvetoryStatus.KHONG_XAC_DINH" @((item.InventoryDetails != null && item.InventoryDetails.StatusID == EnumInvetoryStatus.KHONG_XAC_DINH) ?"selected":"")>@EnumInvetoryStatus.ToString(EnumInvetoryStatus.KHONG_XAC_DINH)</option>

                    </select>
                </div>
            </td>
            <td class="text-center" width="200">
                <div>
                    @*<a class="" onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("ChangeNote", "Inventorys", new { area = "QuanTri", index = stt})', function (e) { $('#modal-qltaikhoan').modal('show'); });"><span id="note_@stt" class="">Mô tả</span></a>*@
                    <textarea id="description_@stt" name="description" class="form-control" cols="3">
                       @(item.InventoryDetails != null?!string.IsNullOrEmpty(item.InventoryDetails.Note)?item.InventoryDetails.Note.Trim():"":"" )
                    </textarea>
                </div>
            </td>
            
        </tr>
    }
}
<script>
   
    $(".ctr-select").selectpicker({
        width: '100%',
        showTick: true,
    });
    dataModel=@Html.Raw(Json.Encode(Model));
</script>