@using QuanLyKhoHang.UI.Models
@model IEnumerable<QuanLyKhoHang.MODEL.TB_Users>
@{
    int stt = 0;
}
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@(++stt)</td>
            
            <td class="text-center">
                <span class="">@item.Username</span>
            </td>
            <td class="text-center">
                <span class="">@item.UserFullName</span>
            </td>
            <td class="text-center">
                <span class="red">@item.UserAddress</span>
            </td>
            <td class="text-center">@item.UserPhone</td>
            <td class="text-center">@item.UserDateCreated.Value.ToString("dd/MM/yyyy")</td>
            
            <td class="text-center">
                <span data-id="@item.UserId" onclick="CapNhatTrangThai($(this))" style="cursor: pointer" title="Cập nhật trạng thái">
                    <i class="fa @(item.UserStatus == EnumStatus.ACTIVE? "fa-unlock":"fa-lock")" style="font-size:22px;"></i>
                </span>
            </td>
            <td class="text-center">
                <a class="btn btn-xs btn-info" data-id="@item.UserId" onclick="ResetPassword($(this))"><i class="fa fa-refresh"></i> Reset</a>
            </td>
            <td class="text-center">@item.UserNote</td>
            <td class="text-center clickable-td">
                <div class="dropdown">
                    <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:160px;">
                        Thao tác
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="btn btn-xs btn-warning" onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Update", "Users", new { area = "QuanTri" , id = item.UserId})', function (e) { $('#modal-qltaikhoan').modal('show'); });"><i class="fa fa-plus"></i>Sửa </a>
                        </li>
                        <li>
                            <a class="btn btn-xs btn-danger" data-id="@item.UserId" onclick="Xoa($(this))"><i class="fa fa-trash"></i> Xóa</a>
                        </li>
                    </ul>
                </div>

            </td>
        </tr>
    }
}
<script>
    $('#idsotrang').val('@ViewBag.sotrang');
    document.getElementById("idtongsotrang").innerHTML = '@ViewBag.tongsotrang';
    document.getElementById("idtongso").innerHTML = '(' + '@ViewBag.tongso' + ')';
    $(".clickable-td").on("click", function (e) {
        //e.stopPropagation();
        $(".dropdown-toggle").dropdown();
    });
</script>

