@using QuanLyKhoHang.UI.Models
@model IEnumerable<OrderInfoView>
@{
    int stt = 0;
}
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@(++stt)</td>
            <td class="text-center">
                <span class="">@item.Orders.OrderCode</span>
            </td>
            <td class="text-center">
                <span class="">@(EnumOrderType.ToString(item.Orders.OrderType))</span>
            </td>
            <td class="text-center">
                <span class="red">@item.Orders.OrderDate.Value.ToString("dd/MM/yyyy")</span>
            </td>
            <td class="text-center">@item.Orders.OrderPrice.Value.ToString("#,###.###")</td>
            <td class="text-center">@item.OrderDetails.FirstOrDefault().ProductInfo.Provider.ProviderName</td>
           
            
            <td class="text-center">
                <span data-id="@item.Orders.OrderId" onclick="CapNhatTrangThai($(this))" style="cursor: pointer" title="Cập nhật trạng thái">
                    <i class="fa @(item.Orders.OrderStatus == EnumOrderStatus.DANG_SU_DUNG? "fa-unlock":"fa-lock")" style="font-size:22px;"></i>
                </span>
            </td>

            <td class="text-center clickable-td">
                <div class="dropdown">
                    <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:160px;">
                        Thao tác
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="btn btn-xs btn-warning" href="@Url.Action("Update", "Orders", new { area = "QuanTri" , id = item.Orders.OrderId})"><i class="fa fa-plus"></i>Sửa </a>
                        </li>
                        <li>
                            <a class="btn btn-xs btn-danger" data-id="@item.Orders.OrderId" onclick="Xoa($(this))"><i class="fa fa-trash"></i> Xóa</a>
                        </li>
                        <li>
                            <a class="btn btn-xs btn-success" data-id="@item.Orders.OrderId" onclick="ExportExcel($(this))" ><i class="fa fa-file-excel-o"></i>Xuất Excel</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
<script>
    $('#idsotrang').val('@ViewBag.sotrang');
    document.getElementById("idtongsotrang").innerHTML = '@ViewBag.tongsotrang';
    document.getElementById("idtongso").innerHTML = '(' + '@ViewBag.tongso' + ')';
    $(".clickable-td").on("click", function (e) {
        //e.stopPropagation();
        $(".dropdown-toggle").dropdown();
    });


    function ExportExcel(obj) {
        debugger;
        $.ajax({
            url: '@Url.Action("ExportExcel", "Orders", new { area = "QuanTri" })',
            type: 'post',
            data: { id: obj.attr("data-id") },
            success: function (data) {
                if (data.kq == "ok") {
                    alertify.success(data.msg);
                }
                else {
                    alertify.error(data.msg);
                    document.getElementById("btn-save1").disabled = false;
                    $("#btn-save1").removeClass("disabled");
                }
            }
        });
    }
</script>
